p.training {
    color: blue;
    font-family: Arial, sans-serif;
}

#heading {
    font-family: Arial, sans-serif;
    font-size: 12pt;
}

#compass {
    background-color: white;
}

#compass_img {
    width: 224px;
    position: fixed;
    bottom: 100px;
    left: 50px;
}

#camera_img {
    display: block;
    width: 460;
}
